version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: "pip"
    directory: "/gateway"
    schedule:
      interval: weekly

  - package-ecosystem: "npm"
    directory: "/ui"
    schedule:
      interval: weekly

  - package-ecosystem: "npm"
    directory: "/sdk/js"
    schedule:
      interval: weekly
